//
// Components: Buttons
// --------------------------------------------------

//## Buttons...

$c-button__font-size:						16px !default;
$c-button__line-height:					auto !default;
$c-button__font-weight:					20px !default;

$c-button__border-width:				0 !default;
$c-button__border-color:				transparent !default;
$c-button__border-radius:				30px !default;

$c-button__padding-x:						20px !default;
$c-button__padding-y:						15px !default;

$c-button__color:								#ffffff !default;
$c-button__background:					#00aeef !default;

$c-button__cursor-default:			pointer !default;
$c-button__cursor-disabled:			not-allowed !default;

$c-button__color-hover:					#ffffff !default;
$c-button__background-hover:		#404044 !default;

$c-button__color-active:				#ffffff !default;
$c-button__background-active:		#27272a !default;


.c-button {
	font-family: inherit;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: $c-button__border-width solid $c-button__border-color;
	border-radius: $c-button__border-radius;
	cursor: $c-button__cursor-default;
	padding: $c-button__padding-y $c-button__padding-x;
	background: $c-button__background;
	color: $c-button__color;
	font-weight: $c-button__font-weight;
	@include font-size($c-button__font-size, $c-button__line-height);
	@include transition(background .2s);


	min-width: 208px;


	// Share hover and focus styles
	&,
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}

	&:hover {
		background-color: $c-button__background-hover;
		color: $c-button__color-hover;
	}

	&:focus{
		outline: 0;
		@include box-shadow(none);
	}

	&:active {
		background-image: none;
		background-color: $c-button__background-active;
		color: $c-button__color-active;
		@include box-shadow(none);
	}

	// Disabled comes first so active can properly restyle
	&:disabled,
	&.is-disabled {
		cursor: $c-button__cursor-disabled;
		opacity: .5;
		@include box-shadow(none);
	}


}
