//
// Components: Buttons
// --------------------------------------------------

//## Buttons...


$button-font-size:			16px !default;
$button-line-height:		auto !default;
$button-font-weight:		20px !default;

$button-border-width:		0 !default;
$button-border-color:		transparent !default;
$button-border-radius:		30px !default;

$button-padding-x:			26px !default;
$button-padding-y:			17px !default;

$button-color:				#ffffff !default;
$button-background:			#00aeef !default;

$button-cursor-default:		pointer !default;
$button-cursor-disabled:	not-allowed !default;

$button-color-hover:		#ffffff !default;
$button-background-hover:	#404044 !default;

$button-color-active:		#ffffff !default;
$button-background-active:	#27272a !default;


.#{$confic-namespace-components}button {
	font-family: inherit;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: $button-border-width solid $button-border-color;	
	border-radius: $button-border-radius;
	cursor: $button-cursor-default;
	padding: $button-padding-y $button-padding-x;	
	background: $button-background;
	color: $button-color;
	font-weight: $button-font-weight;
	@include font-size($button-font-size, $button-line-height);
	@include transition(background .2s);


	min-width: 208px;


	// Share hover and focus styles
	&,
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}

	&:hover {
		background-color: $button-background-hover;
		color: $button-color-hover;
	}

	&:focus{
		outline: 0;
		@include box-shadow(none);
	}

	&:active {
		background-image: none;
		background-color: $button-background-active;
		color: $button-color-active;	
		@include box-shadow(none);
	}

	// Disabled comes first so active can properly restyle
	&:disabled,
	&.is-disabled {
		cursor: $button-cursor-disabled;
		opacity: .5;
		@include box-shadow(none);
	}

	
}