 /* ============================================================
 * Utilities: Debug
 * ============================================================
 *
 * Minions ipsum baboiii hana dul sae butt. Uuuhhh jeje
 * tulaliloo daa pepete jiji poulet tikka masala ti aamoo!
 *
 * See var $s-config__debug in "settings/_settings__config.scss"
 *
 */



// ============================================================
// Variables

$u-debug__outline-size:                                 1px !default;

$u-debug__color__style:                                 red !default;
$u-debug__color__id:                                    orange !default;
$u-debug__color__class:                                 green !default;

$u-debug__color__namespace--objects:                    blue !default;
$u-debug__color__namespace--components:                 blue !default;
$u-debug__color__namespace--utilities:                  blue !default;

$u-debug__color__bem--element:                          black !default;
$u-debug__color__bem--modifier:                         black !default;

$u-debug__color__breakpoint-separator:                  transparent !default;
$u-debug__color__hack-class:                            transparent !default;


$u-debug: (
  '[style]':                                            $u-debug__color__style,
  '[id]':                                               $u-debug__color__id,
  '[class]':                                            $u-debug__color__class,

  '[class^="#{$s-config__namespace--objects}"]':        $u-debug__color__namespace--objects,
  '[class*="#{$s-config__namespace--objects}"]':        $u-debug__color__namespace--objects,
  '[class^="#{$s-config__namespace--components}"]':     $u-debug__color__namespace--components,
  '[class*="#{$s-config__namespace--components}"]':     $u-debug__color__namespace--components,
  '[class^="#{$s-config__namespace--utilities}"]':      $u-debug__color__namespace--utilities,
  '[class*="#{$s-config__namespace--utilities}"]':      $u-debug__color__namespace--utilities,

  '[class*="#{$s-config__bem--element}"]':              $u-debug__color__bem--element,
  '[class*="#{$s-config__bem--modifier}"]':             $u-debug__color__bem--modifier,

  '[class*="#{$s-config__breakpoint-separator}"]':      $u-debug__color__breakpoint-separator,
  '[class^="_"]':                                       $u-debug__color__hack-class
) !default;



// ============================================================
// Mixins & functions

@mixin u-debug__make() {
  @each $u-debug__element, $u-debug__color in $u-debug {
    #{$u-debug__element} {
      outline: $u-debug__outline-size solid $u-debug__color !important;
    }
  }
}



// ============================================================
// CSS output

@if ($s-config__debug) {
  @include u-debug__make();
}