/* ============================================================
 * Utilities: Trumps
 * ============================================================
 *
 * Minions ipsum baboiii hana dul sae butt. Uuuhhh jeje
 * tulaliloo daa pepete jiji poulet tikka masala ti aamoo!
 *
 */


.u-no-margin {
  margin: 0 !important;
}

.u-bold {
  font-weight: 700 !important;
}

.u-anchor-border {
  border-bottom: 2px solid;
}


.u-hidden {
  display: none;
}

@each $name,$value in $s-breakpoints {
  .u-hidden\@#{$name} {
    @media (min-width: $value) {
      display: none;
    }
  }
}

// --------------------------------------------------

.u-visible {
  display: inline !important;
}


@each $name,$value in $s-breakpoints {
  .u-visible\@#{$name} {
    @media (min-width: $value) {
      display: inline;
    }
  }
}



.u-box {
  background: $s-color--global;
  text-align: center;
  color: #fff;
  padding: 20px 10px;
  font-weight: 700;
  margin-bottom: 40px;
}