/* ============================================================
 * Tools: Mixins
 * ============================================================
 *
 * Minions ipsum baboiii hana dul sae butt. Uuuhhh jeje
 * tulaliloo daa pepete jiji poulet tikka masala ti aamoo!
 *
 */



@function t-get-width($_col) {
   @return ((100% * $_col) / $s-config__layout--cols);
}


// ============================================================



@function t-rem($_value) {
  @return ($_value / $s-fonts__font-size) * 1rem;
}

// ============================================================



@function t-negative-number($_number) {
  @return $_number * -1;
}


// ============================================================


@mixin t-font-size($font-size, $line-height: auto) {
  font-size: $font-size;
  //font-size: rem($font-size);

  @if ($line-height == auto) {
   line-height: ceil($font-size / $s-fonts__line-height) * ($s-fonts__line-height / $font-size);
  }
  @else {
     @if (type-of($line-height) == number or $line-height == inherit or $line-height == normal) {
      line-height: $line-height;
    }
    @elseif ($line-height != none and $line-height != false) {
      @warn "D’oh! ‘#{$line-height}’ is not a valid value for `line-height`.";
    }
  }
}



// ============================================================


@mixin t-keyframes($_keyframe__name) {
  @-webkit-keyframes #{$_keyframe__name} { @content; }
  @-moz-keyframes #{$_keyframe__name} { @content; }
  @-ms-keyframes #{$_keyframe__name} { @content; }
  @-o-keyframes #{$_keyframe__name} { @content; }
  @keyframes #{$_keyframe__name} { @content; }
}



// ============================================================
// Box shadow

@mixin t-box-shadow($_box-shadow__width, $_box-shadow__color, $_box-shadow__variant: false) {
  @if $_box-shadow__variant {
    box-shadow: -$_box-shadow__width $_box-shadow__width 0 0 $_box-shadow__color;
  } @else {
    box-shadow: $_box-shadow__width $_box-shadow__width 0 0 $_box-shadow__color;
  }
}


// ============================================================

@mixin t-flexbox($_t-flexbox__direction: row) {
  display: flex;
  flex-wrap: wrap;  
  flex-direction: $_t-flexbox__direction;  
}

// ============================================================


@mixin hover {
  &:hover {
    @content;
  }
}

@mixin hover-focus {
  &:focus,
  &:hover {
    @content;
  }
}


// ============================================================


@mixin t-transition($transition: all .2s) {
  transition: $transition;
}