/* ============================================================
 * Components: Slider
 * ============================================================
 *
 * Minions ipsum baboiii hana dul sae butt. Uuuhhh jeje
 * tulaliloo daa pepete jiji poulet tikka masala ti aamoo!
 *
 */


// ============================================================
// Variables




// ============================================================
// Output CSS

.c-slider {
  position: relative;

  @include t-mq('md') {
    padding-bottom: 120px;
  }

  &::before {
    content: '';
    width: 100%;
    height: 52%;
    bottom: 7%;
    left: 0;
    position: absolute;
    background: $s-color--dark;

    @include t-mq('sm') {
      height: 62%;
    }
    @include t-mq('md') {
      bottom: 0;
      height: 65%;
    }
  }
}


.c-slider__list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  @include t-flexbox();
  padding-bottom: 15px;

  @include t-mq('sm') {
    padding-bottom: 30px;
  }

  @include t-mq('md') {
    padding-bottom: 0;
  }


  &::after {
    position: absolute;
    z-index: 1;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $s-color--dark;
    opacity: 0;
    transition: opacity .3s;
  }

  &.is-active {
    &::after {
      opacity: 1;
    }
  }
}

.c-slider__list__item {
  display: none;

  &.is-active {
    display: block;
  }
}


.c-slider__content {
  align-self: center;
}

.c-slider__nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;

  @include t-mq('sm') {
    grid-column-gap: 30px;
  }

  @include t-mq('md') {
    @include t-flexbox();
    align-items: center;
    justify-content: center;
  }
}

.c-slider__nav__item {
  display: block;

  @include t-mq('md') {
    padding: 15px 0;
  }
}

.c-slider__nav__link {
  position: relative;
  display: block;

  &::after {
    position: absolute;
    z-index: 1;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $s-color--dark;
    opacity: .5;
    transition: opacity .5s;
  }

  &.is-active,
  &:hover {
    &::after {
      opacity: 0;
    }
  }
}