/* ============================================================
 * Components: Form
 * ============================================================
 *
 * Minions ipsum baboiii hana dul sae butt. Uuuhhh jeje
 * tulaliloo daa pepete jiji poulet tikka masala ti aamoo!
 *
 */


// ============================================================
// Variables




// ============================================================
// Output CSS

.c-form__title {
  display: block;
  padding-bottom: 20px;
}

.c-form__submit {
  text-align: center;
  padding-bottom: 20px;
}

.c-form__result {
  text-align: center;
}
