/* ============================================================
 * Headings: Tiny
 * ============================================================
 *
 * Lorem ipsum dolor sit amet
 *
 */


// ============================================================
// Variables

$h-tiny__font-family:            $s-fonts__font-family !default;
$h-tiny__font-size:              14px !default;
$h-tiny__line-height:            32px !default;
$h-tiny__font-weight:            400 !default;

// Media queries (sm - small)
$h-tiny__font-size--sm:          14px !default;
$h-tiny__line-height--sm:        32px !default;

// Media queries (md- medium)
$h-tiny__font-size--md:          16px !default;
$h-tiny__line-height--md:        32px !default;



// ============================================================
// Output CSS

.h-tiny {
  font-family: $h-tiny__font-family;  
  font-weight: $h-tiny__font-weight;
  @include t-font-size($h-tiny__font-size, $h-tiny__line-height);

  @include t-mq('sm') {
    @include t-font-size($h-tiny__font-size--sm, $h-tiny__line-height--sm);
  }
  @include t-mq('md') {
    @include t-font-size($h-tiny__font-size--md, $h-tiny__line-height--md);
  }
}