//
// Utilities: Debug
// --------------------------------------------------

//## Debug...
//
//   See var $config-enable-debug in "settings/_settings.config.scss"

@if $config-enable-debug == true {

	// Remove inline styles if posible
	[style] {
		outline: 5px solid yellow;
	}

	// No ID's for CSS
	[id] {
		outline: 5px solid yellow;
	}

	[class^="o-"],
	[class*=" o-"] {
		outline: 5px solid orange;
	}

	[class^="c-"],
	[class*=" c-"] {
		outline: 5px solid cyan;
	}

	[class^="u-"],
	[class*=" u-"] {
		outline: 5px solid violet;
	}

	[class^="__"],
	[class*="__"] {
		outline: 5px solid red;
	}


[class] {
  outline: 5px solid lightgrey;
}

/**
 * Outline all BEM Elements.
 */
[class*="__"] {
  outline: 5px solid grey;
}

/**
 * Outline all BEM Modifiers.
 */
[class*="--"] {
  outline: 5px solid darkgrey;
}

/**
 * Outline all Object classes.
 */
[class^="o-"],
[class*=" o-"] {
  outline: 5px solid orange;
}

/**
 * Outline all Component classes.
 */
[class^="c-"],
[class*=" c-"] {
  outline: 5px solid cyan;
}

/**
 * Outline all Responsive classes.
 */
[class*="@"] {
  outline: 5px solid rosybrown;
}

/**
 * Outline all Hack classes.
 */
[class^="_"] {
  outline: 5px solid red;
}


[class] {
  outline: 5px solid lightgrey;
}

/**
 * Outline all BEM Elements.
 */
[class*="__"] {
  outline: 5px solid grey;
}

/**
 * Outline all BEM Modifiers.
 */
[class*="--"] {
  outline: 5px solid darkgrey;
}

/**
 * Outline all Object classes.
 */
[class^="o-"],
[class*=" o-"] {
  outline: 5px solid orange;
}

/**
 * Outline all Component classes.
 */
[class^="c-"],
[class*=" c-"] {
  outline: 5px solid cyan;
}

/**
 * Outline all Responsive classes.
 */
[class*="@"] {
  outline: 5px solid rosybrown;
}

/**
 * Outline all Hack classes.
 */
[class^="_"] {
  outline: 5px solid red;
}

}
