/* ============================================================
 * Elements: Paragraphs
 * ============================================================
 *
 * Simple default styles for paragraphs.
 *
 */


// Paragraphs variables

$e-paragraphs__margin-bottom:     30px !default;


// Paragraphs output

p {
  margin-top: 0;
  margin-bottom: $e-paragraphs__margin-bottom;
}