/* ============================================================
 * Objects: Section
 * ============================================================
 *
 * Minions ipsum baboiii hana dul sae butt. Uuuhhh jeje
 * tulaliloo daa pepete jiji poulet tikka masala ti aamoo!
 *
 */


// ============================================================
// Variables

$o-section__padding-top:                20px !default;
$o-section__padding-bottom:             20px !default;

$o-section__padding-top--sm:            40px !default;
$o-section__padding-bottom--sm:         40px !default;

$o-section__padding-top--md:            40px !default;
$o-section__padding-bottom--md:         40px !default;

$o-section__padding-top--lg:            60px !default;
$o-section__padding-bottom--lg:         60px !default;



// ============================================================
// CSS output 

.o-section {
	padding-top: $o-section__padding-top;
  padding-bottom: $o-section__padding-bottom;

  @include t-mq('sm') {
    padding-top: $o-section__padding-top--sm;
    padding-bottom: $o-section__padding-bottom--sm;
  }
  @include t-mq('md') {
    padding-top: $o-section__padding-top--md;
    padding-bottom: $o-section__padding-bottom--md;
  }
  @include t-mq('lg') {
    padding-top: $o-section__padding-top--lg;
    padding-bottom: $o-section__padding-bottom--lg;
  }
}