//
// Tools: Mixins
// --------------------------------------------------

//## Tools...

$t-browser-context: 16px !default; // Default

@function rem($t-font-px, $t-font-base: $t-browser-context) {
    @return ($t-font-px / $t-font-base) * 1rem;
}




@mixin t-mq($s-breakpoint) {
	@media (min-width: $s-breakpoint) {
		@content;
	}
}

@mixin font-size($font-size, $line-height: auto) {
	font-size: $font-size;
	font-size: ($font-size / $base-font-size) * 1rem;

	@if $line-height == auto {
		line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
	}

	@else {
		
		@if (type-of($line-height) == number or $line-height == inherit or $line-height == normal) {
			line-height: $line-height;
		}

		@elseif ($line-height != none and $line-height != false) {
			@warn "D’oh! ‘#{$line-height}’ is not a valid value for `line-height`.";
		}

	}

}

@mixin box-shadow($box-shadow: none) {
	box-shadow: none;
}


@mixin hover {
	&:hover {
		@content;
	}
}



@mixin hover-focus {
	&:focus,
	&:hover {
		@content;
	}
}


// --------------------------------------------------