//
// Settings: Config
// --------------------------------------------------

//## Config...

// See objects/_objects.layout.scss
$config-layout-cols:	12 !default; // Number of columns

// See generic/_generic.print.scss
$config-enable-print:	true !default;

// See trumps/_trumps.debug.scss
$config-enable-debug:	false !default;


$confic-namespace-elements:		"e-" !default;
$confic-namespace-objects:		"o-" !default;
$confic-namespace-components:	"c-" !default;
$confic-namespace-trumps:		"t-" !default;