/*
|--------------------------------------------------------------------------
| Settings: CONFIG
|--------------------------------------------------------------------------
|
| In this document all the configuration variables referring
| to the project are declared.
|
*/


/*
| LAYOUT COLUMNS
| See 05_objects/_objects__layout.scss
*/

$s-config__layout--cols:            12 !default;


/*
| ENABLE PRINT FUNCTIONS
| See 03_generic/_generic__print.scss
*/

$s-config__print:                   true !default;


/*
| DEBUG UTILITIES TRUMP
| See 07_utilities/_utilities__debug.scss
*/

$s-config__debug:                   false !default;


/*
| PATHS
| Define assets paths here
*/


$s-config__path--img:               "../images" !default;
$s-config__path--fonts:             "../fonts" !default;


/*
| NAMESPACING
| Define assets paths here
*/

$s-config__namespace--elements:		  "e-" !default;
$s-config__namespace--objects:		  "o-" !default;
$s-config__namespace--components:   "c-" !default;
$s-config__namespace--utilities:    "t-" !default;

$s-config__namespace: (
  'elements':     $s-config__namespace--elements,
  'objects':      $s-config__namespace--objects,
  'components':   $s-config__namespace--components,
  'utilities':    $s-config__namespace--utilities
) !default;
