/* ============================================================
 * Settings: Config
 * ============================================================
 *
 * In this document all the configuration variables referring
 * to the project are declared.
 *
 */


// LAYOUT COLUMNS
// See 05_objects/_objects__grid.scss

$s-config__grid--cols:            12 !default;


// ============================================================


// ENABLE PRINT FUNCTIONS
// See 03_generic/_generic__print.scss

$s-config__print:                   true !default;


// ============================================================


// DEBUG UTILITIES TRUMP
// See 07_utilities/_utilities__debug.scss

$s-config__debug:                   false !default;


// ============================================================


// PATHS
// Define assets paths here

$s-config__path--cdn:               false !default;

$s-config__path--base:              '..' !default;

@if ($s-config__path--cdn) {
  $s-config__path--base:             'http://d34cxzs4mh88o1.cloudfront.net/public/assets';
}

$s-config__path--img:               #{$s-config__path--base}/images !default;
$s-config__path--fonts:             #{$s-config__path--base}/fonts !default;


// ============================================================


// BREAKPOINT SEPARATOR
// Define the breakpoint separator

$s-config__breakpoint-separator:   '\@' !default;


// ============================================================


// NAMESPACING
// Define assets paths here

$s-config__namespace--headings:     'h-' !default;
$s-config__namespace--objects:      'o-' !default;
$s-config__namespace--components:   'c-' !default;
$s-config__namespace--utilities:    'u-' !default;

$s-config__namespace: (
  'headings':     $s-config__namespace--headings,
  'objects':      $s-config__namespace--objects,
  'components':   $s-config__namespace--components,
  'utilities':    $s-config__namespace--utilities
) !default;


// ============================================================


// BEM (BEMIT) SYNTAX
// Define a bem (bemit) syntax

$s-config__bem--element:      '__' !default;
$s-config__bem--modifier:     '--' !default;
