//
// Settings: Config
// --------------------------------------------------

//## Config...

// See objects/_objects.layout.scss
$config-layout-cols:	12 !default; // Number of columns

// See generic/_generic.print.scss
$config-enable-print:	true !default;

// See trumps/_trumps.debug.scss
$config-enable-debug:	false !default;


$s-namespace--elements:		  "e-" !default;
$s-namespace--objects:		  "o-" !default;
$s-namespace--components:   "c-" !default;
$s-namespace--utilities:    "t-" !default;


$s-namespaces: (
  'elements':     $s-namespace--elements,
  'objects':      $s-namespace--objects,
  'components':   $s-namespace--components,
  'utilities':    $s-namespace--utilities
) !default;
