//
// Settings: Variables
// --------------------------------------------------

//## Variables...

$font-size-base: 16px !default; // Default

$base-font-size: 16px !default;
$base-line-height: 20px !default;


//## Breakpoints (s-breakpoint)

$s-breakpoint--xs:		600px;	 // Extra small
$s-breakpoint--sm:		768px;	 // Small
$s-breakpoint--md:		992px;   // Medium
$s-breakpoint--lg:		1299px;  // Large
$s-breakpoint--xl:		1400px;	 // Extra large

$s-breakpoint:  (
  'xs': $s-breakpoint--xs,
  'sm': $s-breakpoint--sm,
  'md': $s-breakpoint--md,
  'lg': $s-breakpoint--lg,
  'xl': $s-breakpoint--xl
) !default;

//## Spacing

$s-spacing--tiny:		5px;
$s-spacing--small:	10px;
$s-spacing--large:	15px;
$s-spacing--huge:		20px;
