/* ============================================================
 * Settings: Variables
 * ============================================================
 *
 * Global variables which affect the elements of the project
 *
 */


// Spacing variables
$s-spacing--tiny:        5px !default;
$s-spacing--small:       10px !default;
$s-spacing--large:       15px !default;
$s-spacing--huge:        20px !default;

// Border width variables
$s-border-width:         4px !default;
$s-border-width--sm:     6px !default;
$s-border-width--md:     6px !default;

// Z-index variables
$s-z-index--01:         100;
$s-z-index--02:         90;
$s-z-index--03:         80;
$s-z-index--04:         70;
$s-z-index--05:         60;
