//
// Settings: Variables
// --------------------------------------------------

//## Variables...



//## Breakpoints

$s-breakpoint-sm:	35.5rem;	// ≥ 568px
$s-breakpoint-md:	48rem;		// ≥ 768px
$s-breakpoint-lg:	64rem;		// ≥ 1024px
$s-breakpoint-xl:	80rem;		// ≥ 1280px