/* ============================================================
 * Headings: Heading
 * ============================================================
 *
 * Lorem ipsum dolor sit amet
 *
 */


// ============================================================
// Variables

$h-heading__font-family:            $s-fonts__font-family--title !default;
$h-heading__font-weight:            600 !default;
$h-heading__font-size:              30px !default;
$h-heading__line-height:            32px !default;

// Media queries (sm - small)
$h-heading__font-size--sm:          44px !default;
$h-heading__line-height--sm:        46px !default;

// Media queries (md- medium)
$h-heading__font-size--md:          48px !default;
$h-heading__line-height--md:        50px !default;


// ============================================================
// CSS output

.h-heading {
  font-family: $h-heading__font-family;  
  font-weight: $h-heading__font-weight;

  @include t-font-size($h-heading__font-size, $h-heading__line-height);  

  @include t-mq('sm') {    
    @include t-font-size($h-heading__font-size--sm, $h-heading__line-height--sm);
  }
  @include t-mq('md') {
    @include t-font-size($h-heading__font-size--md, $h-heading__line-height--md);
  }
}