/* ============================================================
 * Headings: Subtitle
 * ============================================================
 *
 * Lorem ipsum dolor sit amet
 *
 */


// ============================================================
// Variables

$h-subtitle__font-family:            $s-fonts__font-family !default;
$h-subtitle__font-weight:            700 !default;
$h-subtitle__font-size:              20px !default;
$h-subtitle__line-height:            28px !default;

// Media queries (sm - small)
$h-subtitle__font-size--sm:          20px !default;
$h-subtitle__line-height--sm:        28px !default;

// Media queries (md- medium)
$h-subtitle__font-size--md:          20px !default;
$h-subtitle__line-height--md:        28px !default;


// ============================================================
// CSS output

.h-subtitle {
  font-family: $h-subtitle__font-family;  
  font-weight: $h-subtitle__font-weight;

  @include t-font-size($h-subtitle__font-size, $h-subtitle__line-height);

  @include t-mq('sm') {
    @include t-font-size($h-subtitle__font-size--sm, $h-subtitle__line-height--sm);
  }
  @include t-mq('md') {
    @include t-font-size($h-subtitle__font-size--md, $h-subtitle__line-height--md);
  }
}