/* ============================================================
 * Headings: Title
 * ============================================================
 *
 * Lorem ipsum dolor sit amet
 *
 */


// ============================================================
// Variables

$h-title__font-family:            $s-fonts__font-family--title !default;
$h-title__font-size:              20px !default;
$h-title__line-height:            20px !default;
$h-title__font-weight:            900 !default;

// Media queries (sm - small)
$h-title__font-size--sm:          40px !default;
$h-title__line-height--sm:        40px !default;

// Media queries (md- medium)
$h-title__font-size--md:          60px !default;
$h-title__line-height--md:        60px !default;



// ============================================================
// Output CSS

.h-title {
  font-family: $h-title__font-family;  
  font-weight: $h-title__font-weight;
  @include t-font-size($h-title__font-size, $h-title__line-height);

  @include t-mq('sm') {
    @include t-font-size($h-title__font-size--sm, $h-title__line-height--sm);
  }
  @include t-mq('md') {
    @include t-font-size($h-title__font-size--md, $h-title__line-height--md);
  }
}