/* ============================================================
 * Components: Input
 * ============================================================
 *
 * Minions ipsum baboiii hana dul sae butt. Uuuhhh jeje
 * tulaliloo daa pepete jiji poulet tikka masala ti aamoo!
 *
 */


// ============================================================
// Variables

$c-input__padding:                           0 0 40px !default;

//## Label
$c-input__label__color:                      $s-color--gray-03 !default;
$c-input__label__font-size:                  inherit !default;
$c-input__label__margin:                     0 0 5px !default;


//## Field
$c-input__field__font-size:                  16px !default;
$c-input__field__line-height:                auto !default;
$c-input__field__font-weight:                700 !default;
$c-input__field__border-width:               2px !default;
$c-input__field__border-color:               #ccc !default;
$c-input__field__border-radius:              0 !default;
$c-input__field__padding:                    10px 15px 12px !default;
$c-input__field__height:                     auto !default;
$c-input__field__color:                      $s-color--gray-01 !default;
$c-input__field__background:                 transparent !default;
$c-input__field__cursor-default:             pointer !default;
$c-input__field__cursor-disabled:            not-allowed !default;

// Placeholder
$c-input__field__color-placeholder:          $s-color--gray-01 !default;
$c-input__field__color-placeholder-focus:    $s-color--gray-01 !default;

// Status forms
$c-input__field__color--error:               #ff0000 !default;
$c-input__field__color--valid:               red !default;



// ============================================================
// Output CSS

.c-input {
  display: block;
  padding: $c-input__padding;
}


//## Elements

.c-input__label {
  display: block;
  color: $c-input__label__color;
  margin: $c-input__label__margin;
  //@include t-font-size($c-input__label__font-size, auto);
}


.c-input__field {
  font-family: inherit;
  width: 100%;
  display: block;
  text-align: left;
  border: $c-input__field__border-width solid $c-input__field__border-color;
  border-radius: $c-input__field__border-radius;  
  padding: $c-input__field__padding; 
  background-color: $c-input__field__background;
  background-image: none;
  background-clip: padding-box;
  color: $c-input__field__color;
  font-weight: $c-input__field__font-weight;
  height: $c-input__field__height;
  outline: none;
  font-size: inherit;

  //@include t-font-size($c-input__field__font-size, $c-input__field__line-height);
  
  &,
  &:hover,
  &:focus,
  &:active {
    appearance: none;
    box-shadow: none;
    outline: none;
  }

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Placeholder
  &::placeholder {
    opacity: 1;
  }

  &:disabled,
  &[readonly] {
    opacity: 1;
    cursor: $c-input__field__cursor-disabled;
  }


  &:focus {
    font-weight: $c-input__field__font-weight;

    // Placeholder
    &::placeholder {
      opacity: 1;
    }
  }
}