/* ============================================================
 * Generic: Global
 * ============================================================
 *
 * General global styles
 *
 */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $s-fonts__font-family;
  margin: 0;
  padding: 0;
  background: $s-color--gray-05;

  @include t-font-size($s-fonts__font-size, $s-fonts__line-height)

  @include t-mq('sm') {
    @include t-font-size($s-fonts__font-size--sm, $s-fonts__line-height--sm)
  }
  @include t-mq('md') {
    @include t-font-size($s-fonts__font-size--md, $s-fonts__line-height--md)
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}