/* ============================================================
 * Generic: Global
 * ============================================================
 *
 * General global styles
 *
 */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $s-fonts__font-family;
  font-size: $s-fonts__font-size;
}